body {
	font-family: "Cuprum", Arial, serif; /*Ð³Ð°Ñ€Ð½Ð¸Ñ‚ÑƒÑ€Ð° (Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ðµ ÑˆÑ€Ð¸Ñ„Ñ‚Ð°)*/
	font-size: 13px;	/*Ñ€Ð°Ð·Ð¼ÐµÑ€ ÑˆÑ€Ð¸Ñ„Ñ‚Ð°*/
	font-weight: 500;/*Ð¶Ð¸Ñ€Ð½Ð¾ÑÑ‚ÑŒ ÑˆÑ€Ð¸Ñ„Ñ‚Ð°*/
	line-height: 24px;/*Ð²Ñ‹ÑÐ¾Ñ‚Ñƒ ÑÑ‚Ñ€Ð¾ÐºÐ¸*/
	color: #202121; /*Ñ†Ð²ÐµÑ‚ ÑˆÑ€Ð¸Ñ„Ñ‚Ð°*/
	margin: 0;
	background-color: #ffffff; /*Ð´Ð»Ñ Ð²Ð¸Ð´Ð¸Ð¼Ð¾ÑÑ‚Ð¸ ÑÑ‚Ð¸Ð»ÐµÐ¹*/
	
}

h1 { /*h1 Ð½ÐµÑ‚ Ð² Ð¿Ñ€Ð¾ÐµÐºÑ‚Ðµ, Ñ‚Ð°Ðº ÐºÐ°Ðº Ð´Ð»Ñ ÐºÐ°Ñ‚Ð°Ð»Ð¾Ð³Ð° h1 Ð²Ñ‹Ð´ÐµÐ»Ð¸Ñ‚ÑŒ Ð¼Ð¾Ð³Ñƒ, Ð½Ð¾ Ð´Ð»Ñ Ð³Ð»Ð°Ð²Ð½Ð¾Ð¹
	ÑÑ‚Ñ€Ð°Ð½Ð¸Ñ†Ñ‹ Ñ‚Ð¾Ñ‚ Ð¶Ðµ Ñ€Ð°Ð·Ð¼ÐµÑ€ Ð±ÑƒÐ´ÑƒÑ‚ Ð¸Ð¼ÐµÑ‚ÑŒ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð¾Ð² h2*/
}

h2 {
	font-family: "Cuprum", Arial, serif; 
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	color: #4c5a71;
	
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after{
	content:"";
	display: table;
	clear: both;
}

img {
  	max-width: 100%;
  	height: auto;
}

.header-top {
	min-height: 42px;
	background-color: #30374a;
}

.header-top .ht-logo {
	position: relative;
	float: left;
	width: 220px;
	height: 42px;
	text-align: center;
	padding-top: 13px;
	margin:0;
	background: #cd3944;
	box-sizing: border-box;
}

.header-top .ht-logo::after {
  	content: "";
  	position: absolute;
  	left: 0;
  	bottom: -5px;
  	
  	width: 100%;
  	height: 5px;
  	background-color: #9c2b34;
}

.header-top .ht-logo:hover,
.header-top .ht-logo:active {
	background-color: #ae2f39;
}

.ht-logo img {
	width: 110px;
	height: 18px;
}

.header-top .ht-navigation {
	float: left;
	width: 570px;
}

.ht-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0
}

.ht-navigation li {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	vertical-align: top;
}

.ht-search {
	position: relative;
	width: 270px;
	height: 42px;
}

.ht-search input {
	width: 100%;
	font: inherit;
	font-size: 17px;
	color: #ffffff;
	padding: 12px 49px;
	vertical-align: top;
	border: none;
	background-color: inherit;
	box-sizing: border-box;
}


.ht-search span{
  	position: absolute;
  	top: 12px;
  	left: 18px;

 	width: 17px;
  	height: 17px;
  	background: transparent url("../img/icon-search.png") no-repeat;
  	opacity: 0.3;
}

.ht-search input:focus {
	color: #000000;
	border: none;
	background-color: #ffffff;
}

.ht-search input:hover+span {
	opacity: 1;
}

.ht-search input:focus+span { /*ÐÐµ ÑƒÐ´Ð°Ð»Ð¾ÑÑŒ*/
	opacity: 1;
	background: transparent url("../img/icon-search-act.png") no-repeat;
}


.ht-bookmarks a{
	position: relative;
	display: block;
	width: 150px;
	height: 42px;
	color: #ffffff;
	text-decoration: none;
	padding-left: 44px;
	padding-top: 12px;
	box-sizing: border-box;

}

.ht-bookmarks a::before {
  	content: "";
  	position: absolute;
  	top: 12px;
  	left: 17px;

  	width: 14px;
  	height: 16px;
  	background: transparent url("../img/icon-bookmark.png") no-repeat;
  	opacity: 0.3;
}

.ht-busket a{
	position: relative;
	display: block;
	width: 150px;
	height: 42px;
	color: #ffffff;
	text-decoration: none;
	padding-left: 50px;
	padding-top: 12px;
	box-sizing: border-box;
}

.ht-busket a::before {
  	content: "";
  	position: absolute;
  	top: 12px;
  	left: 16px;

  	width: 17px;
  	height: 16px;
  	background: transparent url("../img/icon-basket.png") no-repeat;
  	opacity: 0.3;
}

.ht-bookmarks a:hover::before,
.ht-busket a:hover::before,
.ht-search:hover::before {
	opacity: 1;
}

.ht-busket a:active,
.ht-bookmarks a:active {
	color: #8f9196;
	background-color: #1f232d;
}

.ht-bookmarks a:active::before,
.ht-busket a:active::before{
	opacity: 0.3;
}

.ht-busket.active {
	background-color: #cd3944;
}

.header-top .ht-contents {
	float: right;
	width: 150px;
	height: 42px;
}

.ht-contents .contents {
	display: block;
	width: 150px;
	height: 42px;
	font-size: 17px;
    line-height: 18px;
  	color: #ffffff;
  	text-decoration: none;
  	text-align: center;
  	padding-top: 12px;
  	margin: 0;
	background-color: #7aa448;
	box-sizing: border-box;
}

.contents:hover {
  	background-color: #81ba3f;
}

.contents:active {
	color: #b3c3a0;
  	background-color: #63843d;
}

.header-bottom {
	min-height: 279px;
	padding-bottom: 1px;
	margin-bottom: 59px;
	background-color: #f1f4f6;
}

.header-bottom .hb-left {
	float: left;
	width: 300px;
	min-height: 72px;
	padding-left: 52px;
	padding-top: 3px;
	margin-top: 46px;
	margin-bottom: 39px;
	margin-right: 20px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: bold;
	color: #cd3944;
	letter-spacing: -0.5px; /*Ð´ÐµÐ±Ð°Ð³*/
	box-sizing: border-box;
}

.header-bottom .hb-center {
	float: left;
	width: 300px;
	min-height: 72px;
	margin-top: 46px;
	margin-bottom: 39px;
}

.hb-center .hb-tel {
	position: relative;
	margin: 0;
	display: block;
	width: 270px;
	height: 45px;
	font-size: 21px;
	line-height: 21px;
	letter-spacing: -0.5px;
	padding-left: 72px;
	padding-top: 9px;
	font-weight: bold;
	color: #cd3944;
	margin-bottom: 4px;
	border: 3px solid #ffffff;
	box-sizing: border-box;
}

.hb-center .hb-tel::before {
	content: "";
  	position: absolute;
  	top: 9px;
  	left: 12px;

  	width: 19px;
  	height: 19px;
  	background: transparent url("../img/icon-phone.png") no-repeat;
}

.hb-center .hb-location {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #3a445b;
	padding-left: 10px;
	margin:0;
}	


.header-bottom .hb-right {
	float: right;
	width: 300px;
	min-height: 72px;
	font-size: 0;
	padding: 0;
	padding-left: 18px;
	margin-top: 46px;
	margin-bottom: 39px;
	box-sizing:border-box;
}

.hb-right .login-btn {
	position: relative;
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	vertical-align: top;
	color: #000000;
	text-decoration: none;
	padding: 12px 25px 11px 48px;
	margin-right: 9px;
	background-color: #ffffff;
}

.hb-right .login-btn::before {
	content: "";
	position:absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: transparent url("../img/icon-login.png") no-repeat;
}

.hb-right .registration-btn {
	position: relative;
	display: inline-block;
	width: 150px;
	font-size: 21px;
	line-height: 21px;
	vertical-align: top;
	color: #000000;
	text-decoration: none;
	padding: 12px 25px;
	padding-right: 9px;   /*Ð ÐÐ—ÐžÐ‘Ð ÐÐ¢Ð¬Ð¡Ð¯, Ð”ÐµÐ±Ð°Ð³ÐµÑ€*/
	background-color: #ffffff;
	box-sizing: border-box;
} 

.hb-right .login-btn:hover,
.hb-right .registration-btn:hover {
	color: #cd3944;

}

.hb-right .login-btn:hover::before {
	background: transparent url("../img/icon-login_active.png") no-repeat;
}

.hb-right .login-btn:active,
.hb-right .registration-btn:active {
	color: #c4c4c4;
}


.hb-navigation {
	margin-bottom: 58px;
	background-color: #3a445b;
	clear: both;
}

.hb-navigation ul {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #30374a;
}

.hb-navigation li {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	vertical-align: top;
}


.hb-navigation a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 31px 17px 30px;
}

.hb-navigation li:first-child a{
	padding-left: 50px
}

.hb-navigation li:last-child a{
	padding-right: 50px;
}

.hb-navigation a:hover {
	background: #30374a;
}

.hb-navigation a:active {
	color: #8b8e96;
	background: #30374a;	
}

.hb-navigation .active {
	color: #8b8e96;
	background: #30374a;	
}

/*Ð¨ÐÐŸÐšÐ ÐžÐšÐžÐÐ§Ð•ÐÐ*/

.features {
	min-height: 410px;
	margin-bottom: 53px;
}

.features .features-item {
	width: 300px;
	height: 123px;
	margin: 0 20px 20px 0;
}

.features .feature-first{
	position: relative;
	float: left;
	background: #e4b03d url("../img/paint.png") no-repeat 213px 31px;
}

.feature-first b,
.feature-second b,
.feature-third b,
.feature-forth b,
.feature-fifth b
 {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	margin: 24px 50px 16px 22px;
}

.feature-first a,
.feature-second a,
.feature-third a,
.feature-forth a,
.feature-fifth a {
	display: inline-block;
	height: 38px;
	width: 135px;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 24px;
	background-color: rgba(205, 158, 55, 0.7);
	border-radius: 3px 3px;
	cursor: pointer;
}

.features-item a:hover {
	background-color: #000000;
	opacity: 0.2;
}

.features-item a:active {
	background-color: #000000;
	opacity: 0.3;
}


.features .feature-second{
	float: left;
	background: #72addb url("../img/drel.png") no-repeat 197px 33px;
}

.feature-second a {
	background-color: #669bc5;
}

.features .feature-third{
	float: left;
	margin-right: 0px;
	background: #b878cd url("../img/tractor.png") no-repeat 191px 31px;
}

.feature-third a {
	background-color: #a56cb8;
}

.features .feature-forth{
	float: right;
	margin-right: 0px;
	background: #9ed07d url("../img/busket.png") no-repeat 196px 26px;
}

.feature-forth a {
	background-color: #8ebb70;
}

.features .feature-fifth{
	float: right;
	margin: 0 0 0 0;
	background: #e5b03d url("../img/bus.png") no-repeat 191px 32px;
}

.feature-fifth a {
	background-color: #ce9e37;
}

.features .features-item-big {
	position: relative;
	float: left;
	width: 620px;
	height: 266px;
	margin: 0 20px 0 0;
}

.slides .slide{
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: #756a5e;
}


.features-item-big b {
	display: inline-block;
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	margin: 26px 80px 5px 25px;
}

.features-item-big p {
	display: block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-left: 25px;
}

.features-item-big a {
	position: absolute;
	left: 25px;
	bottom: 22px;
	
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 42px 10px 49px;
	background-color: #cd3944;
	border-radius: 3px 3px;


}

.features-item-big a:hover {
	background-color: #ae2f39;
}

.features-item-big a:active {
	background-color: #a02c35;
}

.slider-controls {
	position: absolute;
	bottom: 36px;
	left: 50%;

	text-align: center;
	width: 100px;
	height: 10px;
	margin-left: -50px;
	z-index: 100;
}

.features-item-big input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	vertical-align: top;
	margin: 0 4px;
	border: 2px solid white;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
    background:#cd3944;
}

.features-item-big::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 26px;
	margin-top: -20px;

	width: 22px;
	height: 40px;
	background: transparent url("../img/icon-left.png") no-repeat;
	z-index: 1001;
}

.features-item-big::after {
	position: absolute;
	content: "";
	top: 50%;
	right: 21px;
	margin-top: -20px;
	
	width: 22px;
	height: 40px;
	background: transparent url("../img/icon-right.png") no-repeat;
}

.slides .slide:nth-child(1){
    background: #e4b03d url("../img/big.jpg") no-repeat;
}

.slides .slide:nth-child(2){
    background: #e4b03d url("../img/big-2.jpg") no-repeat;
}

.slide {
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}



.popular {
	min-height: 428px;
	font-size: 0;  /*Ð½ÑƒÐ»ÐµÐ²Ð¾Ð¹ Ñ€Ð°Ð·Ð¼ÐµÑ€ Ñƒ Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»Ñ - Ð½Ðµ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ð»Ð°ÑÑŒ Ð¿Ð»Ð¸Ñ‚ÐºÐ°*/
	margin-bottom: 20px;
	
}

.popular-header {
	min-height: 89px;
	margin-bottom: 20px;
	background-color: #f5f2ec;
}

.popular-header h2 {
	float: left;
	font-size: 30px;
	color: #3a445c;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 29px;
	margin-left: 25px;
}

.popular-header .main-btn
 {
	float: right;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	padding: 11px 47px 9px 55px;
	margin-top: 25px;
	margin-right: 24px;
	background-color: #cd3944;
	border-radius: 3px 3px;
	left: 25px;
	bottom: 22px;
}

.popular-item,
.catalog-item {
	position: relative;
	display: inline-block;
	width: 220px;
	height: 318px;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	margin-right: 20px;
	box-shadow: 0 0 0 1px #e4e4e4;
}	

.popular-item:last-child {
	margin-right: 0px;
}

.popular-item .flag,
.features .flag,
.catalog-item .flag {
	position:absolute;
    top:-1px;
    right:-1px;
    
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:20;
}


.popular-item .flag-new,
.features .flag-new,
.catalog-item .flag-new{
    background: url("../img/new-flag.png") no-repeat 0 0; /*Ð²ÑÑ‚Ð°Ð²Ð¸Ñ‚ÑŒ ÐºÐ°Ñ€Ñ‚Ð¸Ð½ÐºÑƒ*/
}

.popular-item .action,
.catalog-item .action{
    position:absolute;
    top:0;
    left:0;
    width:220px;
    height:90px;
    padding:42px 0;
    background-color: rgba(255,255,255,0.99);
    z-index:10;
}

.popular-item .buy,
.popular-item .bookmark,
.catalog-item .buy,
.catalog-item .bookmark
{
    display:block;
    position: relative;
    width:135px;
    font-family:"Cuprum", sans-serif;
    color:white;
    font-size:14px;
    font-weight:normal;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    padding:11px 0;
    margin:0 auto;
    margin-bottom:8px; 
    border:3px solid #63a63e;
    border-radius:3px;
    border-bottom-color:#367315; 
    background-color:#63a63e; 
}

.popular-item .buy::before,
.catalog-item .buy::before{
	content: "";
  	position: absolute;
  	top: 10px;
  	left: 14px;

  	width: 17px;
  	height: 16px;
  	background: transparent url("../img/icon-basket.png") no-repeat;
  	opacity: 0.3;
}

.popular-item .buy:hover::before,
.popular-item .buy:active::before,
.catalog-item .buy:hover::before,
.catalog-item .buy:active::before{
	opacity: 1;
}

.popular-item .bookmark,
.catalog-item .bookmark{
    color:#32425c;
    border-bottom-color:#63a63e;
    background: #ffffff; 
}

.popular-item .buy:hover,
.catalog-item .buy:hover {
	border-color: #81ba3f;
	border-bottom-color:#367315;
	background-color: #81ba3f;
}

.popular-item .buy:active,
.catalog-item .buy:active{
	border-color: #63843d;
	background-color: #63843d;
}

.popular-item .bookmark:hover,
.catalog-item .bookmark:hover{
	border-color: #3a445b;
}

.popular-item .bookmark:active,
.catalog-item .bookmark:active{
	color: #c4c7cd;
	border-color: #c4c7cd;
}


.popular-item .action,
.catalog-item .action{
    display:none;
}
.popular-item:hover .action,
.catalog-item:hover .action{
    display:block;
}

.popular-item:hover,
.catalog-item:hover {
	box-shadow: 0 0 5px 5px #e4e4e4;
}

.popular-item .image,
.catalog-item .image{
    width:220px;
    height:165px;
}
.popular-item img,
.catalog-item  img{
    max-width:100%;
}

.popular-item .title,
.catalog-item .title{
    min-height:38px;
    font-size:18px;
    font-weight:normal;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    line-height:20px;  
    padding:0 31px;
    margin-top:13px;
    margin-bottom:12px;
    
}
.popular-item .discount,
.catalog-item .discount{
    min-height:20px;
    font-family: "PT Sans", "Arial", sans-serif;
    color:#999;
    font-size:17px;
    font-weight: bold;
    line-height:18px;
    text-decoration:line-through;
    padding:0;
    margin-top:12px;
    margin-bottom:8px;
}

.popular-item .price,
.catalog-item .price{
    position:relative;
    width:140px;
   	font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    line-height:20px;
    color:white;
    padding:10px 30px;
    margin:10px auto;
    margin-bottom:20px;
    border-radius:3px;
    background:#ee3643;
    box-sizing: border-box;

}

.popular-item .lower,
.catalog-item .lower{
	margin-top: 43px;
	}

.popular-item .price:after,
.catalog-item .price:after
{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.manufacturers {
	min-height: 420px;
	margin-bottom: 65px;
}

.manufacturers .main-btn {
	padding: 10px 62px 10px 71px;
}



.popular-header .main-btn:hover {
	background-color: #ae2f39;
}

.popular-header .main-btn:active {
	background-color: #a02c35;
}



.manufacturers .name-list {
	font-size: 0; /*Ð½ÑƒÐ»ÐµÐ²Ð¾Ð¹ Ñ€Ð°Ð·Ð¼ÐµÑ€ Ñƒ Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»Ñ - Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ð»Ð¾ÑÑŒ*/
	text-align: center;
}

.name-list a {
	display: inline-block;
	position: relative;
	width: 220px;
	height: 145px;
	vertical-align: top;
	margin-right:20px;
	margin-bottom: 20px;
	box-shadow: 0 0 0 1px #e4e4e4;
}

.name-list img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%)
}

.manufacturers a:nth-child(4n) { 
	margin-right: 0px;
}

.name-list a:hover {
	box-shadow: 0 0 5px 5px #e4e4e4;
}

.name-list a:active{
	opacity: 0.3;	
}


/*.manufacturer-8 {
	background: url("../img/metabo.png") no-repeat 50% 50%;
	}

/*Ð‘Ð›ÐžÐš Ð¡Ð•Ð Ð’Ð˜Ð¡ÐžÐ’*/

.index-content-first {
	position: relative;
	min-height: 522px;
	padding: 1px;
	margin-bottom: 75px;
	background-color: #f3f6f8;
}

.index-content-first .container{
	background-color: #f3f6f8;
}

.content-services {
	min-height: 100px;
	margin-top: 64px;
	margin-bottom: 70px;
}

.content-services h2 {
	font-size: 30px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 24px;
}

.content-menu {
	position: relative;
	float: left;
	width: 730px;
	min-height: 250px;
	margin: 0;
	margin-bottom: 35px;
}


.content-menu .menu {
	float:left;
	width: 240px;
	min-height: 185px;
	margin-right: 80px;
}

.content-menu label {
	display: block;
	width: 240px;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 13px 23px 17px 22px;
	border-top: 1px solid #475168;
	border-bottom: 1px solid #30374a;
	background-color: #3a445b;
	cursor: pointer;
	box-sizing: border-box;
}

#point-1:checked ~ .menu label[for="point-1"],
#point-2:checked ~ .menu label[for="point-2"],
#point-3:checked ~ .menu label[for="point-3"] { 
	color: #3a445b;
    background:#ffffff;
    border-color: #ffffff;
}

.content-menu input[type=radio] {
    opacity:0;
}


.content-menu li:hover {
	background-color: #30374a;
}

.content-menu .menu::after {
	content: "";
	position: absolute;
	top: -30px;
	left: 230px;

	height: 272px;
	width: 110px;
	background: transparent url("../img/shadow.png") no-repeat;
}

.content-indeed{
	position: relative;
	float: left;
	width: 400px;
	min-height: 185px;
	margin: 0;
}


.content-indeed h2 {
	font-size: 36px;
	line-height: 36px;
	color: #3a445c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 23px;
}


.content-indeed .btn {
	display: inline-block;
	width: 195px;
  	font-family: "Cuprum", Arial, serif; 
  	font-size: 14px;
  	line-height: 18px;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-decoration: none;
  	padding: 11px 40px;
  	border: none;
  	border-radius: 3px;
  	background-color: #cd3944;
  	box-sizing: border-box;
  	cursor: pointer;
}

.content-indeed .btn:hover,
.content-indeed .btn:active {
	background-color: #9c2b34;
}

.content-indeed .point{
	display: none;
}


#point-1:checked ~ .content-indeed .point:nth-child(1) {
	display: block;
}

#point-2:checked ~ .content-indeed .point:nth-child(2) {
	display: block;
}

#point-3:checked ~ .content-indeed .point:nth-child(3) {
	display: block;
}

.content-menu [class^="font-"] {
	position: absolute;
	top:0;
	right:-230px;
	width: 490px;
	height: 287px;
	display: none;
}

.content-menu .font-1 {
	background: url("../img/bus-1.png") no-repeat;
}

.content-menu .font-2 {
	background: url("../img/medal.png") no-repeat 80px 0;
}

.content-menu .font-3 {
	background: url("../img/credit.png") no-repeat 20px 0;
}

#point-1:checked +.font-1 {
	display: block;
}

#point-2:checked + .font-2 {
	display: block;
}

#point-3:checked +.font-3 {
	display: block;
}



.content-services p,
.content-indeed p,
.content-second-left p,
.content-second-right p {
    font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 550;
	letter-spacing: -1px;
	color: #000000;
	margin: 0;
	margin-bottom: 30px;
	
}

/*ÐšÐžÐÐ¢Ð•ÐÐ¢ 2*/

.index-content-second {
	position: relative;
	min-height: 370px;
	margin-bottom: 86px;
}

.index-content-second h2 {
	font-size: 30px;
	color: #000000;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
	
}

.content-second-left p {
	margin-bottom: 24px;
}

.content-second-right p {
	margin-bottom: 32px;
}

.content-second-left .second-p {
	margin-bottom: 11px;
}


.content-second-left {
	float: left;
	width:560px;
	margin-right: 80px;
}

.content-second-left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.content-second-left li {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	padding: 10px 36px;
}

.content-second-left li::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 0;
	
	width: 25px;
	height: 2px;
	background-color: #db575a;
}

.content-second-right {
	float: right;
	width:300px;
	margin:0;
}

.content-second-right img {
	height: 158px;
	width: 300px;
}


.index-content-second .main-btn
 {
	position: absolute;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 33px 10px 41px;
	border-radius: 3px 3px;
	background-color: #cd3944;
}

.content-second-left .main-btn {
	bottom: 0px;
	left: 10px;
}

.content-second-right .main-btn {
	padding: 10px 56px;
	bottom: 0;
	right: 10px;
}

.index-content-second .main-btn:hover{
	background-color: #ae2f39;
}

.index-content-second .main-btn:active {
	background-color: #a02c35;
}


/*Ð¤Ð£Ð¢Ð•Ð */

.footer-top {
	min-height: 193px;
	background-color: #3a445b;
}


.footer-top .logo-address {
	float:left;
	width: 315px;
	min-height: 190px;
}

.logo-address .ht-logo {
	display:block;
	width: 220px;
	height: 68px;
	text-align: center;
	background: #cd3944;
	padding-top: 21px;
	margin:0;
	border-bottom:5px solid #9c2b34;
	box-sizing: border-box;
}

.logo-address .ht-logo:hover {
	background-color: #ae2f39;
}

.header-top .ht-logo:active {
	background-color: #a02c35;
}

.logo-address p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 28px;
}


.footer-top .ft-nav-first {
	float:right;
	width: 620px;
}


.ft-nav-first ul {
	list-style: none;
	text-align: right;
	font-size: 0;
	padding: 0;
	margin:0;
}

.ft-nav-first li {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
}


.ft-nav-first a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding-left: 59px;
	padding-top: 32px;
	padding-bottom: 20px;
}


.footer-top .ft-nav-second {
	float:right;
	width: 590px;
}

.ft-nav-second ul {
	list-style: none;
	text-align: right;
	font-size: 0;
	padding: 0;
	margin:0;
}

.ft-nav-second li {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
}

.ft-nav-second a {
	display: block;
	color: #f3d084;
	text-decoration: none;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ft-nav-first a:hover,
.ft-nav-second a:hover {
	text-decoration: underline;
}

.ft-nav-first a:active,
.ft-nav-second a:active {
	opacity: 0.3;
	text-decoration: none;
}


.footer-bottom {
	min-height: 107px;
	font-size: 16px;
	line-height: 18px;
	color: white;
	padding-top: 35px;
	background-color: #31374a;
	box-sizing: border-box;
}


.footer-info {
	float:left;
	width: 300px;
	margin-right: 90px;
	min-height: 43px;
}

.footer-social {
	float:left;
	width: 170px;
	min-height: 43px;
	margin-right: 80px;
}

.footer-social .social-btn{
	display: inline-block;
	width: 41px;
	height:41px;
	vertical-align: top;
	margin-right: 1px;
	border-radius: 50%;
	background: #282e3c url("../img/spritesheet.png") no-repeat;
	
	transition: 
    background-color 0.2s;
}

.footer-social .social-btn-vk{
	background-position: 0px -70px;
}

.footer-social .social-btn-fb{
    background-position: 5px 0px;
}

.footer-social .social-btn-inst{
    background-position: 2px -36px;
}

.footer-social .social-btn:active,
.footer-social .social-btn:hover {
	background-color: #cd3944;
}


.footer-mail {
	float: left;
	width: 150px;
	min-height: 43px;
}

.footer-bottom .btn{
	color: #ccb178;
	text-decoration: none;
}

.footer-bottom a:hover {
	text-decoration: underline;
}

.footer-bottom a:active {
	color: #cd3944;
	text-decoration: none;
}


.footer-mail p,
.footer-copyright p {
	margin: 0;
}

.footer-copyright {
	float:right;
	width: 112px;
	min-height: 43px;
}




/*Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ catalog.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.hb-right.catalog-page {
	float:right;
	margin-right: 15px;
	margin-bottom: 10px;
}

.hb-right .my-account {
	position: relative;
	display: block;
	width: 300px;
	min-height: 42px;
	font-size: 21px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-bottom: 7px;
	background-color: #ffffff;
}

.hb-right .account {
	display: block;
	height: 42px;
	width: 220px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	padding-top: 12px;
	margin-left: 40px;
	box-sizing: border-box;
}

.hb-right .link-profile{
	position: absolute;
	top: 13px;
	left: 14px;

	width: 20px;
	height: 18px;
	background: transparent url("../img/icon-user.png") no-repeat;
}

.hb-right .link-deauto {
	position: absolute;
	top: 13px;
	right: 11px;

	width: 20px;
	height: 17px;
	background: transparent url("../img/icon-login.png") no-repeat;
}

.hb-right .link-profile:hover{
	background: transparent url("../img/icon-user-active.png") no-repeat;
}

.hb-right .link-deauto:hover {
	background: transparent url("../img/icon-login_active.png") no-repeat;
}

.hb-right .my-account:active {
	color: #c4c4c4;
}

.hb-right .my-accounts,
.hb-right .my-cabinet {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	color: #3a445b;
	font-weight: bold;
	vertical-align: top;
	padding: 0;
	margin-left: 16px;
	margin-right: 28px;
	
}
.hb-right .my-cabinet {
	position: relative;
	margin-left: 0;
}

.hb-right .my-accounts:hover,
.hb-right .my-cabinet:hover {
	color: #ce3945;
} 

.hb-right .my-accounts:active,
.hb-right .my-cabinet:active {
	color: #c3c3c3;
} 



.hb-right .my-cabinet::before {
	position: absolute;
	content: "";
	top: 6px;
	left: -15px;

	width: 4px;
	height: 4px;
	background-color: #3a445b;
	border-radius: 50%;
}


.header-bottom.catalog {
	margin-bottom: 16px;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	margin:0;
	margin-bottom: 17px;
}

.breadcrumbs li {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	padding-right: 13px;
	padding-left: 13px;
	margin-right: 10px;
}

.breadcrumbs li:first-child {
	padding-left: 0;
}

.breadcrumbs li::after {
  	content: "";
  	position: absolute;
 	top: 5px;
 	right: -10px;
 	
 	width: 8px;
  	height: 12px;
  	background: transparent url("../img/icon-right-bread.png") no-repeat;
}

.breadcrumbs .current::after {
  	display: none;
}

.breadcrumbs a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

.content-name{
	min-height: 88px;
	padding-top: 1px;
	margin-bottom: 20px;
	background-color: #f3f6f8;
}

.content-name h2 {
	font-size: 30px;
	color: #3a445c;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 28px;
	margin-left: 28px;
}

.catalog-content .filter-form {
	float: left;
	width: 220px;
	min-height: 750px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	margin-right: 20px;
}

.filter-form .filter-topic {
	min-height: 38px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 38px;
	padding-left: 19px;
	padding-bottom: 1px;
	margin:0;
	margin-bottom: 10px;
	background-color: #f5f2ec;
	box-sizing: border-box;
}

.catalog-content h3 {
	font-size: 17px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.filter-range {
	width: 220px;
	height:130px;
	padding-bottom: 1px;
	margin-bottom: 20px;
}

.price-controls {
	position: relative;
	height: 40px;
	width: 220px;
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 97px;
	color: black;
  	vertical-align: top;
  	cursor: pointer;
  	margin-right: 26px;
  	background-color: #f5f2ec;
}

.price-controls label:last-child {
	margin-right: 0;
}

.price-controls input {
	width: 85px;
  	font-size: 17px;
  	line-height: 18px;
	text-align: center;
 	padding: 9px 0;
  	border: none;
  	background: none;
}

.price-controls::after {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;

  	width: 10px;
  	height: 1px;
  	background: #000000;
  	transform: translate(-50%, -50%);
}

.range-controls {
  	position: relative;
	height: 80px;
	width: 220px;
	margin-bottom: 10px;
	background-color: #f5f2ec;
}

.range-controls .scale {
	position: absolute;
  	height: 2px;
  	width: 180px;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: #d7dbdd;
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;
  	background: #72c979;
}

.range-toggle {
  	position: absolute;
  	top: 50%;
  	margin-top: -10px;

  	width: 4px;
  	height: 4px;
  	cursor: pointer;
  	border-radius: 50%;
	border: 8px solid #ffffff;
  	background: #a9a9a9;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
  	left: 20px;

}

.range-toggle-max {
  	left: 70%;
}

h3.second-point {
	margin-top: 15px;
}


.filter-form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-form li {
	padding: 0;
	margin: 0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] +label {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 20px;
	padding: 2px 0 2px 35px;
	margin-bottom: 18px;
	cursor: pointer;
}


input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 23px;
	height: 23px;
	background: transparent url("../img/icon-check-off.png") no-repeat;

}

input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 27px;
	height: 23px;
	background: transparent url("../img/icon-check-on.png") no-repeat;
}

h3.third-point {
	margin-top: 22px;
}

input[type="radio"] {
	display:none;
}


input[type="radio"] +label{
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 20px;
	padding-left: 35px;
	margin-bottom: 18px;
	cursor: pointer; 
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 17px;
	height: 17px;
	border: 4px solid #bfbfbf;
	border-radius: 50%;
}

input[type="radio"]:checked + label::after { 
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;

	display: block;
	width: 8px;
	height: 8px;
	background-color: #bfbfbf;
	border-radius: 50%;
}

.filter-form .btn {
	margin-top: 37px;
	display: inline-block;
	width: 138px;
	height: 38px;
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 36px;
	text-align: center;
  	font-size: 13px;
  	color: #000000;
  	text-transform: uppercase;
  	vertical-align: top;
  	border: 1px solid #e4e4e4;
  	border-radius: 3px;
  	background-color: #ffffff;
  	cursor: pointer;
}

.filter-form .btn:hover,
.filter-form .btn:active {
	color: #ffffff;
	background-color: #cd3944;

}

.catalog-all {
	float: right;
	width: 700px;
	min-height: 1055px;
	margin-bottom: 30px; /*Ñ ÑƒÑ‡ÐµÑ‚Ð¾Ð¼ margin-bottom Ð´Ð»Ñ Ð½Ð¸Ð¶Ð½ÐµÐ³Ð¾ Ñ€ÑÐ´Ð°*/
}

.all-filter {
	width: 700px; 
	min-height: 38px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: #f5f2ec;
}

.all-filter  ul {
	float: right;
	width: 460px;
	min-height: 38px;
	list-style: none;
	padding: 0;
	margin:0;
}

.all-filter  li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
	margin-right: 10px;
}

.all-filter  li:last-child::before {
	content: "";
	position: absolute;
	top: 14px;
    right: 10px;

	display: block;
	width: 11px;
	height: 9px;
	background: transparent url("../img/icon-up-dir.png") no-repeat;
}

.all-filter  li:last-child::after {
	content: "";
	position: absolute;
	top: 14px;
    right: -23px;

	display: block;
	width: 11px;
	height: 9px;
	background: transparent url("../img/icon-up-dir.png") no-repeat;
    transform: rotate(180deg);
}

.all-filter span{
	float: left;
	min-height: 38px;
	width: 140px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 38px;
	padding-left: 19px;
}


.all-filter a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 38px;
	color: #c1bfba;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 58px;
	border-bottom: 1px dashed #cd3944;
}

.all-filter a:hover{
	color: #000000;
	border-bottom: 1px solid #000000;
}

.all-filter .catalog-filter-act {
	color: #ce3945;
	border: 0;
}

.catalog-all .item-list {
	font-size: 0; /* Ð½ÑƒÐ»ÐµÐ²Ð¾Ð¹ Ñ€Ð°Ð·Ð¼ÐµÑ€ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° Ñƒ Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»Ñ - Ð¿Ð»Ð¸Ñ‚ÐºÐ° Ð½Ðµ Ð¿Ð¾Ð»ÑƒÑ‡Ð°ÐµÑ‚ÑÑ*/
} 

.catalog-item {
	display: inline-block;
	width: 220px;
	height: 318px;
	vertical-align: top;
	font-size: 13px;
	margin-right:20px;
	margin-bottom: 20px;
}


.catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.catalog-item .price {
	font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    line-height:20px;
	font-size: 17px;
    color:white;
    padding:10px 30px;
    border-radius:3px;
    background:#ee3643;
    box-sizing: border-box;
}


.paginator {
	clear:both;
	width: 350px;
	height:38px;
	font-size: 0;
	margin-left:240px;
	margin-bottom: 60px;
}

.paginator a{
	display: inline-block;
	min-width: 38px;
	height: 38px;
	text-align: center;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	text-decoration: none;
	color: inherit;
	vertical-align: top;
	margin-right:10px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	background-color: white;
}

.paginator a:last-child{
	padding: 0 31px;
}

.paginator a:hover {
	border-color: #bec5c9;
}

.paginator a:active {
	color: #000000;
	border-color: #cd3944;
}

.paginator .active {
	color: #ffffff;
	background-color: #cd3944;
}

.item-content {
	min-height: 260px; /*Ñ ÑƒÑ‡ÐµÑ‚Ð¾Ð¼ Ð¿Ð°Ð´Ð´Ð¸Ð½Ð³Ð° -Ñ‚Ð¾Ð¿*/
	background-color: #f3f6f8;
	padding-top: 1px;
}

.item-content h2 {
	font-size: 30px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 68px;
	margin-bottom: 30px;
}

.item-content p {
	font-family: "PT Sans", "Arial", sans-serif;
 	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 0;
}


.modal-content {
	display: none;
	position: fixed;
	bottom: 200px;
	left: 50%;
	width: 620px;
	height: 424px;
	padding: 48px 80px 38px 80px;
	margin-left: -310px;
	color: #000000;
	border-top: 7px solid #cd3944;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	background-color: #ffffff;
	box-sizing: border-box;
	z-index: 1000;
}

.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.5s;
}

.add-to-cart {
	display: none;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 50%;
	width: 620px;
	height: 276px;
	color: #000000;
	font-size: 0;
	padding: 0 81px;
	margin-right: -310px;	
	
	border-top: 7px solid #cd3944;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	background-color: #ffffff;
	box-sizing: border-box;
	z-index: 1000;
}

.add-to-cart-show {
	display: block;
}

.add-to-cart p {
	position: relative;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	margin: 60px 40px 100px 100px;
}

.add-to-cart span {
	position: absolute;
	top: 40px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #7aa448 url("../img/done.png") no-repeat 50% 50%;
	z-index: 1001;
}

.modal-content::after,
.add-to-cart::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;

	width: 620px;
	height: 112px;
	background-color: #f1f1f1;
	z-index: 1001;
}

.modal-content-close,
.add-to-cart-close
 {
  	position: absolute;
  	top: 9px;
  	right: 8px;

  	width: 21px;
  	height: 21px;
  	font-size: 0;

  	border: 0;
  	background-color: transparent;
  	cursor: pointer;
}

.map-close {
	position: absolute;
  	top: 9px;
  	right: 8px;

  	width: 21px;
  	height: 21px;
  	font-size: 0;

  	border: 0;
  	background-color: transparent;
  	cursor: pointer;
	z-index: 1000;
}


.modal-content-close::before,
.modal-content-close::after,
.add-to-cart-close::before,
.add-to-cart-close::after,
.map-close::before,
.map-close::after {
  	content: "";
  	position: absolute;
  	top: 6px;
  	right: 0px;

  	width: 25px;
  	height: 4px;
  	border-radius: 1px;
  	background-color: #cd3944;
}

.modal-content-close::before,
.add-to-cart-close::before,
.map-close::before {
  	transform: rotate(45deg);
}

.modal-content-close::after,
.add-to-cart-close::after,
.map-close::after {
  	transform: rotate(-45deg);
}

.modal-content .feedback-form {
  	margin-top: 0;
  	margin-bottom: 0;
}

.feedback-form .btn {
	position: relative;
	width: 100%;
  	font-family: "Cuprum", Arial, serif; 
  	font-size: 14px;
  	line-height: 18px;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	padding: 12px 199px;
  	margin-top: 60px;	
  	border: none;
  	border-radius: 6px/2px;
  	background-color: #cd3944;
  	cursor: pointer;
  	z-index: 1002;
 }

 .feedback-form .btn:hover {
 	background-color: #ae2f39;
}

.add-to-cart .btn {
	display: inline-block;
	position: relative;
	width: 218px;
  	padding: 12px 40px;
  	font-family: "Cuprum", Arial, serif; 
  	font-size: 14px;
  	line-height: 18px;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-decoration: none;
  	text-align: center;
  	vertical-align: top;
  	margin-right: 20px;
  	border: none;
  	border-radius: 6px/2px;
  	background-color: #cd3944;
  	cursor: pointer;
  	box-sizing: border-box;
  	z-index: 1002;
}

.add-to-cart .go-on {
	display: inline-block;
	color: black;
	text-align: center;
	vertical-align: top;
	padding: 12px 40px;
	margin-right: 0;
	box-sizing: border-box;
	background-color: #ffffff;
}

.add-to-cart .btn:hover {
 	background-color: #ae2f39;
}

.modal-content .half-width {
  	margin-bottom: 18px;
  	width: 220px;
	height: 65px;
	font-size: 18px;
	line-height: 18px;

}

.modal-content .user-name {
	float: left;
}

.modal-content .user-mail {
	float: right;
}

.modal-content .full-width {
	clear: both;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 18px;
}


.feedback-form input[type="text"] {
  	width: 220px;
	font-family: "PT Sans", "Arial", sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	color: #989898;
  	padding: 8px 15px;
  	margin-top: 8px;
  	border-radius: 3px;
  	border: 2px solid #d7dbdd;
  	background-color: #ffffff;
  	box-sizing: border-box;
}

.feedback-form textarea {
  	font-family: "PT Sans", "Arial", sans-serif;
  	color: #989898;
  	font-size: 13px;
  	line-height: 18px;
  	padding: 8px 15px;
  	padding-right: 40px;
  	margin-top: 6px;
	border-radius: 3px;
	border: 2px solid #d7dbdd;
  	background-color: #ffffff;
  	
}

.modal-content-map {
	display: none;
	position: fixed;
  	bottom: 350px;
  	left: 50%;
  	margin-left: -470px;
  	
  	width: 940px;
  	height: 446px;
  	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  	background: #e9e5dc url("../img/map-1.jpg") no-repeat;
  	z-index: 1003;
}

.modal-content-map-show {
	display: block;
}

.modal-overlay {
	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.3);
  	z-index: 999;
}

.modal-overlay-show {
	display: block;
}

@keyframes bounce {
	0% { transform: translateX(-2000px); }
	70% { transform: translateX(30px); }
	90% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}

*/